.box {
  margin-top: 40px;
}

.form_box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  font-size: 1.1rem;
}

.invaild_email {
  color: #dc3444;
  font-size: 15px;
}

.invaild_password {
  color: #dc3444;
  font-size: 15px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 6px;
  background-color: #069861;
  color: white;
}
