.nav_box {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.nav_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  color: #61dafb;
  padding: 0 1rem;
  font-size: 1.5rem;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.notActiveLink {
  text-decoration: none;
  color: inherit;
}

.activeLink {
  text-decoration: none;
  color: #60d9f9;
}

.burger {
  display: none;
}

.boxBurger {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2rem;
}

.mobile_menu {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.5rem;
  background-color: #f8f6f6;
  border: 1rem;
  gap: 4px;
  color: #4a4a4a;
  border-bottom: 3px solid silver;
  z-index: 999;
  -webkit-animation-name: example;
  animation-name: example;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  font-size: 18px;
  font-family: monospace;
}

.mobile_menu div {
  cursor: pointer;
}

@media (max-width: 768px) {
  .burger {
    display: flex;
  }
  .links {
    display: none;
  }
  .mobile_menu {
    display: flex;
  }
}

@-webkit-keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes example {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
