.box {
  margin-top: 40px;
  width: 100%;
  text-align: center;
}

.card_box {
  display: flex;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
  min-height: 300px;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
}
