.footer_box {
  background-color: #202329;
  min-height: 10vh;
  color: white;
  font-family: monospace;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.footerInner_box {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
